@page
@model CRUD_APP.Pages.DetailsModel
@{
    ViewData["Title"] = "User Details";
}
<h1>User Details</h1>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.User.Name</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.User.Email</dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.Id" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>